.aboutusPage{
    background: #FFF;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.aboutusPage .content{
    flex-grow: 1;
    font-size: 14px;
    overflow: scroll;
}
.aboutusPage .content img{
    max-width: 100%;
}