.deviceList.ui.selection.list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
}
.deviceList.ui.selection.list>.item{
    padding: 0;
}
.deviceLi{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 5px 10px;
}
.deviceLi .pic{
    width: 30%;
    flex-shrink: 0;
}
.deviceLi .pic img{
    width: 100%;
}
.deviceLi .info{
    
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    
    padding: 15px;
}
.deviceLi .info .tit{
    font-size: 18px;
    margin-bottom: 15px;
}
.deviceLi .info .address{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.deviceLi .info .address span{
    margin-bottom: 10px;
    font-size: 14px;
}
.deviceLi .info .address span:last-child{
    margin:0;
}


