.feedPage{
    width: 100%;
    background: #EEE;
}
.feedPage #ListInside >div{
    margin-bottom: 15px;
}
.commentlistcontent{
    background: #FFF;
}
.commentlistcontent.hide{
    display: none;
}
.feedHead .ui.feed{
    border-bottom: 1px solid #EEE;
    background: #FFF;
    margin:0;
    padding-top: 10px;
}
.feedHead {
    display: flex;
    padding: 0 15px
}
.feedContent{
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid #EEE;
}
.feedContent .images{
    display: flex;
    flex-wrap: wrap;
}
.feedContent .images > div{
    width: 33.33%;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
}


.feedPage .PageHead {
    background: #5596d6;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    height: 48px;
    width: 100%;
    z-index: 1000;
    flex-shrink: 0;
    position: relative;
}

.feedPage .PageHead .title {
    flex-grow: 1;
    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-size: 16px;
}

.feedPage .PageHead .imgcont {
    display: flex;
    width: 50px;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.feedPage .PageHead .imgcont img {
    width: 48px;
}

.feedPage .PageHead i.icon {
    font-size: 30px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.feedPage .PageHead .ui.grid{
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
}

.feedPage .PageHead .ui.grid>.row{
    padding: 0
}
.feedPage .PageHead .ui.grid>.row>[class*="right aligned"].column.column{
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
.feedPage .PageHead .ui.grid img{
    width: 48px;
}
.ui.feed{
    padding-top: 10px;
    margin: 0;
}
.childComments > div{
    padding: 10px 0;
}
.childComments.hide{
    display: none;
}
.ui.feed>.event>.content>.feedContent .extra.images img{
    margin: 3px;
    flex-grow: 1;
}
.feedHead .label {
    margin-right: 10px;
}

.feedHead .label img {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-self: flex-start;
}

.feedHead .summary {
    display: flex;
    flex-direction: column
}

.feedHead .ui.grid>.column:not(.row), 
.feedHead .ui.grid>.row>.column{
    padding:0;
}

.ui.feed > .event > .content .summary > .date {
    margin: 0;
}
.ui.feed > .event > .content .summary > .summaryName{
    font-size: 18px;
    margin-bottom: 5px;
}

.topTip {
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px 0;
}

.topTip .con {
    background: #333;
    border-radius: 6px;
    color: #FFF;
    height: 30px;
    display: flex;
    align-items: center;
    padding:0 8px;
    justify-content: space-between;
}

.topTip .con img {
    width: 20px;
    margin-right: 10px;
}
.topTip .con span{
    font-size: 14px;
}
.ui.feed>.event>.content .myMeta {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 0;
}
.ui.feed>.event>.content .myMeta .addCommunity,
.ui.feed>.event>.content .myMeta > a{
    display: flex;
    width: 50%;
    justify-content: center;
}
.communityInfo .feedContent{
    border-bottom: none;
}
.ui.feed.communityInfo .event .content .myMeta {
    border-bottom: 1px solid #EEE;
}
.ui.feed.communityInfo .event .content .avatarlist{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ui.feed.communityInfo .event .content .avatarlist:active{
    background: #EEE;
}

.ui.comments {
    padding: 15px;
    padding-bottom: 0;
    margin: 0;
}
.myCommentAction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myCommentLnk{
    display: flex;
    justify-content: space-between;
}
.myCommentLnk > div{
    padding:2px 5px;
    color: #CCC;
}

.ui.comments .comment .myCommentAction .metadata{
    margin: 0;
}
.communityInfoComment.ui.comments{
    padding: 0;
}
.communityInfoComment .title{
    padding: 0 15px 5px 15px;
}
.communityInfoComment.ui.comments .comment{
    border-bottom: 1px solid #EEE;
    padding: 15px;
    background: #FFF;
    margin: 0;
}
.communityInfoComment.ui.comments .comment .avatar img{
    border-radius: 100%;
}
.communityInfoComment.ui.comments .comment .author{
    color: #5694dd;
    font-weight: normal;
}
.feedBottomReply{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    border-top: 1px solid #EEE;
    padding: 8px 0;
    z-index: 1000;
}
.feedBottomReply .ui.input{
    flex-grow: 1;
    padding: 5px 15px;
}

.feedBottomReply span{
    padding-right: 15px;
}
.commentlistcontent .ui.comments{
    /*padding-top: 1;*/
    border-top: 1px solid #EEE;
}
.feedPage .ui.feed{
    padding-top: 10px;
    background: #FFF
}
.commentlistcontent .ui.comments>div{
    margin-bottom: 10px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
}
.commentlistcontent .ui.comments>div:last-child{
    margin-bottom: 0;
    border: none;
}
.ui.comments .comentShowMore{
    text-align: center;
}
.commentInfoPage .ui.comments{
    margin: 0;
}
.commentInfoPage .ui.comments > div{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}
.commentInfoPage .ui.comments .childComments > div{
    border-top: 1px solid #EEE;
    margin-top: 10px;
}
.commentInfoPage .ui.comments .childComments > div:last-child{
    padding-bottom: 0
}
.pageWamp >div.commentInfoPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.commentInfoPage .tc{
    flex-shrink: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: scroll;
    flex-grow: 1;
} 
.commentInfoPage .tc > div{
    width: 100%
}
.commentInfoPage .tb .feedBottomReply{
    display: flex;
    position: relative;
}
.feedPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.feedPage .tc{
    flex-shrink: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    overflow:hidden;
    position: fixed;
    top: -48px;
    left: 0;
    width: 100%;
} 
.feedPage .tc > div{
    width: 100%
}
.feedPage .tb .feedBottomReply{
    display: flex;
    position: relative;
}

.feedPage .ui.comments .comment .avatar img, 
.feedPage .ui.comments .comment img.avatar{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}


