.ui.segment.headContent{
    background: #5694dd;
    border-radius: 0;
    border: 0;
    display: flex;
    justify-content : space-between;
    align-items: stretch;
    margin-bottom: 0;
    padding: 0;
    height:46px;
    width: 100%;
}
.ui.segment.headContent .leftlnk{
    width: 25%;
    display: flex;
}
.ui.segment.headContent .rightlnk {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.ui.segment.headContent .leftlnk button, .ui.segment.headContent .rightlnk button{
    background: none;
    color: #FFF;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}
.ui.segment.headContent .rightlnk button{
    padding:0;
    padding-right: 15px;
}
.ui.segment.headContent .title {
    width: 50%;
    font-size: 20px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.segment.headContent .ui.grid{
    margin: 0;
}

.ui.segment.headContent .ui.grid>.row>[class*="right aligned"].column.column i.large.icon{
    color: #FFF;
}
.ui.bottom.right.popup{
    padding: 0;
}
.communityMoreLnk > div{
    display: flex;
    padding: 0 10px;
    line-height: 30px;
}
.communityMoreLnk > div:first-child{
    border-bottom: 1px solid #EEE;
}