.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, #5771c5, #5596d6);
    padding: 0 0 10px 0;
    flex-shrink: 0;
}
.homePage .toolBar{
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.homePage .toolBar .left,.homePage .toolBar .right{
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    width: 60px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homePage .toolBar .right{
    right: 0;
    display: flex;
    height: 48px;
    text-align: center;
    justify-content: center;
}
.homePage .toolBar .right img{
    width: 40px;
}
.homePageWamp {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding-top: 20px;
    background: #5596d6
}
.headContent{
    text-align: center;
    padding: 10px;
    position: relative;
}
.headContent img{
    width: 220px;
}
.headContentInfo{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}
.headContentInfo .i1{
    color: #FFF;
}
.headContentInfo .i2 {
    font-size: 56px;
    line-height: 60px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 5px;
}
.headContentInfo .i3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}
.headContentInfo .i3 span{
    color: #7ffef8;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 50px;
    padding: 0 10px;
}
.headContentInfo .i4 {
    color: #FFF;
}
.headInfo{
    border: 1px solid #7abbf5;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 14px;
    color: #FFF
}
.headInfo .headInfoborder {
    border-right: 1px solid #7abbf5;
    margin: 0 10px;
}
.HomeList{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    background: #FFF;
}
.HomeList .ListTitle{
    flex-shrink: 0;
}
.HomeList > ul{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.HomeList > ul li{
    flex-shrink: 0;
}

.ListTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid #DDD;
    background: #EEE;
    color: #5694dd;
    padding: 10px 15px;
}
.ListTitle > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.ListTitle > div:last-child .ui.fitted.toggle.checkbox{
    margin-left: 10px;
}
.homePage .swiper-container{
    width: 100%;
    padding-bottom: 10px;
}
.homePage .swiper-container .swiper-pagination.swiper-pagination-bullets{
    bottom: 0px;
}
.homePage .swiper-pagination-bullet{
    background: #79bdf0;
    opacity: 1;
}
.homePage .swiper-pagination-bullet-active{
    background: #7ffef8;
    width: 12px;
    border-radius: 4px;
}
.homePage .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px;
}