*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input, textarea{
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.root{

}
.pageStyle{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: 100;
    overflow: hidden;
    flex-shrink: 1;
    align-self: stretch;
}
.pageWamp >div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.homeBottom{
    display : flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background: #EEE;
    border-top: 1px solid #CCC;
    flex-shrink: 0;
}
.homeBottom .ui.button{
    width: 33%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin:0;
    font-weight: 100;
    padding: 5px 0;
}
.homeBottom .ui.button.action{
    background: #EEE;
}
.homeBottom .ui.button img{
    width: 26px;
}
.logisticsinfoPage{
    justify-content: flex-start;
}