*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-weight: 300;
}
input, textarea{
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
#root{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.ui.basic.red.label{
    pointer-events: none;
}
#root > div,
#root > div > div{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.pageStyle{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-shrink: 1;
    align-self: stretch;
    flex-grow: 1;
}


.pageStyle >div, .pageWamp > div{
    opacity: 1;
    animation:pageshow .5s;
    -webkit-animation:pageshow .5s;
}
@keyframes pageshow{
    from {opacity : .2;}
    to {opacity : 1;}
}



.pageWamp >div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #FFF;
    align-self: stretch;
    flex-grow: 1;
    justify-content: flex-start;
}

.homeBottom{
    display : flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background: #EEE;
    border-top: 1px solid #CCC;
    flex-shrink: 0;
    z-index: 999
}
.homeBottom .ui.button{
    width: 25%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin:0;
    font-weight: 100;
    padding: 5px 0;

}
.homeBottom .ui.button.active{
    background: #EEE;
}
.homeBottom .ui.button img{
    width: 26px;
}
.homeBottom .ui.button span{
    display: block;
}
.logisticsinfoPage{
    justify-content: flex-start;
}
.ui.feed>.event>.content .meta .like:hover .icon{
    color: rgba(0,0,0,.5)
}