.myCollection{
    background: #F5F5F5;
}
.myCollectionLi{

}
.myCollection>.item{
    padding: 0;
}
.myCollectionLi{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 5px 10px;
    background: #FFF;
}
.myCollectionLi .pic{
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.myCollectionLi .pic img{
    width: 100%;
}
.myCollectionLi .info{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 15px;
}
.myCollectionLi .info .tit{
    font-size: 16px;
    margin-bottom: 5px;
}
.myCollectionLi .info .address{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.myCollectionLi .info .address span{
    margin-bottom: 10px;
    font-size: 14px;
    color:#D00;
}
.myCollectionLi .info .address span:last-child{
    margin:0;
}


