.myOrder {
    background: #F5F5F5;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.myOrder .actionItem{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
    background: #FFF;
    border-bottom: 1px solid #EEE;
    flex-shrink: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;

}
.myOrder .actionItem span{
    line-height: 40px;
    margin: 0 10px;
    flex-shrink: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}
.myOrder .actionItem span.sel{
    color: #5694dd;
    position: relative;
}
.myOrder .actionItem span.sel:after{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #5694dd;
    content: ""
}

.myOrder .ui.secondary.pointing.menu{
    width: 100%;
    position: relative;
    z-index:1000;
}
.myOrder .ui.secondary.pointing.menu .item {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.myOrder .ui.secondary.pointing.menu {
    margin: 0;
    margin-bottom: 10px;
}

.myOrder .ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover {
    color: #5694dd;
    border-color: #5694dd;
}

.myOrder .ui.secondary.pointing.menu {
    background: #FFF;
}


.orderList{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.orderList .items {
    margin-bottom: 10px;
    background: #FFF;
}

.orderList .items > div {
    padding: 2px 15px;
}

.orderList .items > div.tt {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    height: 36px;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    color: #999;
}

.orderList .items > div.cont {
    border-top: 1px solid #EEE;
}
.orderList .items > div.cont .li{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    align-items: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.orderList .items > div.cont img {
    width: 80px;
    border: 1px solid #EEE;
    margin-right: 10px;
}

.orderList .items > div.cont .proinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-self: stretch;
    align-self: stretch;
}

.orderList .items > div.cont .proinfo .proname {
    font-size: 13px;
}

.orderList .items > div.cont .proinfo .proother {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.orderList .items > div.cont .proinfo .proother .evaluationLnk{
    border: 1px solid #f38108;
    color: #f38108;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    width: 80px;
    height: 32px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    
}
.orderList .items > div.cont .proinfo .proother .price {
    color: #F00;
    font-size: 16px;
}
.orderList .items > div.lnk {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
}
.orderList .items > div.lnk .txt {
    text-align: right;
    margin-bottom: 5px;
}
.orderList .items > div.lnk .hotlnk{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.orderList .items > div.lnk .hotlnk span{
    margin-left: 10px;
}
.orderList .items > div.lnk .hotlnk .btn{
    padding: 4px 8px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-left: 10px;
}
.orderList .items > div.lnk .hotlnk .btn.pay{
    border-color: #F00;
    color: #F00;
}
.orderList .items > div.lnk .hotlnk .btn.success{
    color: #00c40c;
    border-color: #00c40c;
}


