.myTopicListPage{
    background: #F5F5F5;
    overflow: hidden;
    display: flex;
}
.myTopicListPage .ui.segment.headContent{
    flex-shrink: 0;
}
.myTopicListPage .cont {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
}
.myTopicListPage .cont .li{
    background: #FFF;
    border-bottom: 1px solid #EEE;
    padding: 15px;
    font-size: 14px;
}
.myTopicListPage .cont .li .title{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.myTopicListPage .cont .li .content{
    margin-bottom: 10px;
}
.myTopicListPage .cont .li .lnk{
    display: flex;
    justify-content: space-between;
    color: #999;
}
.myTopicListPage .cont .li .content .imglist{
    display: flex;
    flex-wrap: wrap;
}
.myTopicListPage .cont .li .content .imglist >div{
    width: 33.33%;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
}
.myTopicListPage .cont .li .content .imglist >div img{
    align-self: flex-start;
    flex-grow: 1;
    margin: 2px;
    width: 6em;
}
