.PayPage{
    background: #EEE;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 1px;
    flex-grow: 1;
    overflow: hidden;
}
.PayPage .PageHead {
    background-image: linear-gradient(0deg, #00cac8, #0090d8);
    display: flex;
    align-items: center;
    height: 68px;
    width: 100%;
    z-index: 1000;
    flex-shrink: 0;
    padding-top: 20px;

}
.PayPage .PayPageBody{
    flex-grow: 1;
    overflow-y: scroll;
    background: #EEE;
}

.PayPage .PageHead .title {
    flex-grow: 1;
    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-size: 16px;
}

.PayPage .PageHead .imgcont {
    display: flex;
    width: 50px;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.PayPage .PageHead .imgcont img {
    width: 48px;
}

.PayPage .PageHead i.icon {
    font-size: 30px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    height: auto;
    align-self: stretch;
}
.PayPage .proinfo{
    margin-bottom: 20px;
}

.PayPage .proinfo .li{
    display: flex;
    border-bottom: 1px solid #EEE;
    padding: 15px;
    background: #FFF;
}

.PayPage .proinfo .li img{
    width: 80px;
    align-self: flex-start;
    border: 1px solid #EEE;
}

.PayPage .proinfo .li >div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 15px;
    font-size:14px;
    position: relative;
    flex-grow: 1;
}
.PayPage .proinfo .li >div .evaluationLnk{
    border: 1px solid #f38108;
    color: #f38108;
    border-radius: 6px;
    display: flex;
    width: 80px;
    height: 32px;
    align-items: center;
    justify-content: center;
}
.PayPage .proinfo .li >div .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PayPage .proinfo .li >div .price > span:first-child{
    color: #F00;
}
.PayPage .list{
    border-top: 1px solid #EEE;
    background: #FFF;
    display: flex;
    flex-direction: column
}
.PayPage .list .li{
    background: #FFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    padding: 2px 15px;
    line-height: 40px;
}
.PayPage .paytype .li .showbalanceprice{
    line-height: 36px;
    margin-right: 10px;
    font-size: 16px;
}
.PayPage .paytype .li .ui.checkbox{
    width: 24px;
    height: 24px;
}
.PayPage .list .li.selcoupon{
    background: url(/img/myprofile/15.png) no-repeat right center;
    background-size: 40px 40px;
    padding-right: 40px;
    margin-bottom: 15px;
}
.PayPage .list .li span{
    font-size: 16px;
}
.PayPage .list .li span.price {
    color: #F00;
}
.PayPage .list .li .setpaycoupon{
    display: flex;
    align-items: center
}
.PayPage .list .li .setpaycoupon span{
    margin-right: 10px;
}
.PayPage .listLnk {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
}
.PayPage .listLnk > div{
    display: flex;
    justify-content: center;
    width: 48%;
    height: 40px;
    align-items: center;
    color: #FFF;
    font-size: 16px;
}
.PayPage .listLnk .logisticsinfo{
    background: #5596d6;

}
.PayPage .listLnk .endorder{
    background: #00c40c;
}

.PayPage .orderaddress{
    padding: 15px;
    display: flex;
    align-items: center;
    background: #FFF;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    font-size: 14px;
}
.PayPage .orderaddress img{
    width: 30px;
}

.PayPage .orderaddress .addressinfo{
    flex-grow: 1;
    padding-left: 10px;
}
.PayPage .orderaddress .addressinfo .userinfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.PayPage .orderaddressInfo{
    padding: 15px;
    display: flex;
    align-items: center;
    background: #FFF;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    font-size: 14px;
}
.PayPage .orderaddressInfo .addressinfo{
    flex-grow: 1;
    padding-left: 10px;
}
.PayPage .subBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #FFF;
    align-items: center;
    height: 44px;
    padding: 0 0 0 15px;
    border-top: 1px solid #EEE;
    flex-shrink: 0;
}
.PayPage .subBtn .ui.button{
    background: none;
    border: 1px solid #999;
    font-weight: 100;
}
.PayPage .subBtn .ui.button.pay{
    color: #F00;
    border-color:#F00;
}
.PayPage .subBtn{
    font-size: 14px;
}
.PayPage .subBtn .b{
    background: #5596d6;
    color: #FFF;
    align-self: stretch;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.PayPage .subBtn .i span{
    color: #F00;
}

.PayPage .paytype .li{
    background: #FFF;
    border-bottom: 1px solid #EEE;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}
.PayPage .paytype .li > div.txt{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.PayPage .paytype .li img{
    width: 40px;
    align-self: flex-start;
}
.PayPage .paytype .ui.checkbox .box:before,
.PayPage .paytype .ui.checkbox label:before{
    border-radius: 50px;
    width: 24px;
    height: 24px;
}
.PayPage .paytype .ui.checkbox .box:after,
.PayPage .paytype .ui.checkbox label:after{
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #5596d6;
    border-radius: 40px;
    color: #FFF;
    font-weight: 100;
}
.orderinfoPage .list{
    margin-bottom: 15px;
}
.orderinfoPage .list .orderstatusinfo{
    font-size: 16px;
}
.orderinfoPage .list .li.orderstatusinfoContent{
    justify-content: center;
}
.orderinfoPage .list .li.orderstatusinfoContent .warning{color: #f38108}
.orderinfoPage .list .li.orderstatusinfoContent .green{color: #00c40c}

.PayPageWamp{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.PayPage{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}


