.seladdressPage{
    background: #EEE;
    overflow-y: hidden;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
.seladdressPage .listcont{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
}
.seladdressPage .listcont .li{
    background: #FFF;
    border-bottom: 1px solid #EEE;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}
.seladdressPage .listcont .li .tit{
    display: flex;
    justify-content: space-between;
}
.seladdressPage .listcont .address{
    color: #111;
}
.addAddressLnk{
    height: 50px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background: #5596d6;
    flex-shrink: 0;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    display: flex;
}