.AddressAddPage{
    background: #EEE;
}
.AddressAddPage .setForm {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #FFF;
    align-items: center;
    font-size: 14px;
}

.ui.list.addAddress {
    border: none;
    background: #FFF
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    border-bottom: 1px solid #EEE;
    border-radius: 0;
    min-height: 50px;
    align-items: stretch;
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item .tit {
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item .content {
    flex-grow: 1;
    display: flex;
    font-size: 16px;
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item input {
    border: none;
    border-radius: 0;
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item .content .input {
    display: flex;
    flex-grow: 1;
    border: none;
    border-radius: 0;
}

.addAddress.ui.selection.list .list > .item, .addAddress.ui.selection.list > .item .content select {
    border: none;
    border-radius: 0;
    flex-grow: 1;
    align-self: stretch;
}

.AddressListPage .addNew {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
}

.AddressListPage .addNew button.button {
    flex-grow: 1;
    border-radius: 0;
    margin: 0;
}

.AddressListPage .ui.list {
    border: none;
}

.AddressListPage .ui.selection.list > .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #FFF;
    border-radius: 0;
    border-bottom: 1px solid #EEE;
}

.AddressListPage .ui.selection.list > .item .tit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.AddressListPage .ui.selection.list > .item .address span {
    margin-right: 10px;
    font-size: 14px;
}

.AddressListPage .ui.selection.list > .item .address {
    margin-bottom: 10px;
}

.AddressListPage .listControl {
    display: flex;
    justify-content: space-between;
}

.AddressListPage .listControl .lnk {
    display: flex;
}

.AddressListPage .listControl .lnk > div {
    margin-left: 10px;
    font-size: 14px;
}

.UserInfoPage .ui.list {
    border: none;
}
.UserInfoPage .ui.list .item:first-child{
    position: relative;
}
.UserInfoPage .ui.selection.list > .item:after {
    content: none;
}

.UserInfoPage .ui.selection.list > .item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #FFF;
    border-radius: 0;
    border-bottom: 1px solid #EEE;
    align-items: center;
    font-size: 16px;
}

.UserInfoPage .escLogin {
    display: flex;
    justify-content: center;
}

.UserInfoPage .escLogin .ui.basic.button {
    width: 60%;
    border-radius: 50px;
    background: #FFF;
}

.UserLoginPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.UserLoginPage .loginhead {
    width: 100%;
}

.UserLoginPage .loginform {
    padding-top: 20px;
    position: relative;
}

.UserLoginPage .loginform .logininput {
    position: relative;
}

.UserLoginPage .loginform .yanzhenBtn {
    position: absolute;
    width: 120px;
    height: 44px;
    right: 10%;
    z-index: 1000;
    border-radius: 0;
    top: 0;
    margin: 0;
}

.UserLoginPage .logininput .input, .UserLoginPage .loginform .remember {
    width: 100%;
    border-radius: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.UserLoginPage .logininput .lefticon {
    position: absolute;
    left: 11%;
    top: 7px;
    font-size: 22px;
    color: #666;
    width: 30px;
}

.UserLoginPage .logininput .mobile {
    font-size: 26px;
    top: 5px
}

.UserLoginPage .logininput .eye, .UserLoginPage .logininput .yanzhen {
    position: absolute;
    right: 10%;
    top: 0px;
    color: #CCC;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    margin: 0;
}

.UserLoginPage .logininput .yanzhen {
    width: auto;
    padding: 0 10px;
    border-left: 1px solid #CCC;
}

.UserLoginPage .logininput .eye.sel {
    color: #111;
}

.UserLoginPage .logininput .input input {
    border-radius: 0;
    background: #EEE;
    margin-bottom: 10px;
    text-indent: 25px;
    height: 44px;
    font-size: 14px;
}

.loginBotton {
    display: flex;
    flex-direction: column;
    padding: 20px 14% 20px 14%;
}

.loginBotton .ui.button {
    border-radius: 100px;
    margin-bottom: 10px;
}


.AddressAddPageBottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.UserLoginPage .forgetpwd {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 14px;
}

.UserLoginPage .loginPageTop {
    flex-grow: 1;
    position: relative;
}

.UserLoginPage .loginPageTop .loginHead {
    position: relative;
}

.UserLoginPage .loginPageTop .loginHead i {
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    font-size: 30px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.UserLoginPage .loginPageBottom {
    display: flex;
    flex-direction: column;
}

.UserLoginPage .loginPageBottom .tit {
    position: relative;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    margin-bottom: 10px;
}

.UserLoginPage .loginPageBottom .tit span {
    background: #FFF;
    z-index: 2;
    position: relative;
    padding: 0 10px;
}

.UserLoginPage .loginPageBottom .tit:after {
    content: ' ';
    z-index: 0;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 1px;
    background: #EEE;
}

.UserLoginPage .loginPageBottom .lnk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.UserLoginPage .loginPageBottom .lnk > div {
    padding: 10px;
    background: #36a9eb;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.UserLoginPage .loginPageBottom .lnk > div i.icon {
    margin: 0;
    font-size: 22px;
}

.UserLoginPage .loginPageBottom .lnk > div:last-child {
    margin-left: 15px;
    background: #00c40c;
}

.ChangeUsernamePage .inputContent{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    position: relative;
}
.ChangeUsernamePage .inputContent .inputTitle{

}
.ChangeUsernamePage .inputContent > .ui.input{
    flex-grow: 1;
}
.ChangeUsernamePage .inputContent > .ui.input input{
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.ChangeUsernamePage .btnSub{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.ChangeUsernamePage .btnSub button.ui.primary.button{
    flex-grow: 1;
    margin: 0;
    height: 46px;
    border-radius: 0;
}

























